
.navbar-inverse {
    background-color: 	#ADD8E6;
}

.navbar-header{
background:	#ADD8E6;
}
.navbar-nav {
    margin: 0px -15px;
    
background:#fff;
color:black;
}
.nav>li{
border:0.5px solid black;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
color:#000;
font-weight:bold;
font-size:22px;
line-height:25px;
}
div .name{
margin: 6% 6% 6% 6%;
background:#FFE4B5;
text-align:left;
padding:20px 18px 44px 20px;
margin-bottom: 45px;
}
.name h3{
text-align:center;
font-weight:bold;
}

.jumbotron{
background:#fff;
margin-top:-56px;

}
.jumbotron p{
	font-weight:bold;
}
h2 {
    font-weight:bold;
margin-bottom:40px;
color:black;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
	padding:2px;
}
.navbar-inverse {
    background-color: #b3b3b3;
	}
	
	h3,p{
	color:#000;}
html {
  scroll-behavior: smooth;
}
